/* .footer {
    background-color: rgb(65, 18, 237);
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links { 
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    color: #ecf0f1;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social {
    margin-top: 10px;
}

.footer-social a {
    color: #ecf0f1;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

.footer-social a:hover {
    color: #3498db;
} */.footer {
    width: 100%;
    background: #e7f5e1;
    padding: 40px 0;
    color: #1a2cd1;
    margin: 0;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    padding: 0 15px;
    color: #1a2cd1;
}

.footer-section.about,
.footer-section.links,
.footer-section.social {
    margin-bottom: 20px;
}

.footer-title {
    color: #1a2cd1;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
}

.footer-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 50px;
    background:#1a2cd1;
}

.footer-section.about p {
    font-size: 14px;
    line-height: 28px;
}

.footer-section.links ul {
    list-style: none;
    padding: 0;
}

.footer-section.links ul li {
    margin-bottom: 10px;
}

.footer-section.links ul li a {
    color: #1a2cd1;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section.links ul li a:hover {
    color: #52b788;
}

.footer-section.contact p {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-section.social ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-section.social ul li {
    margin-right: 15px;
}

.footer-section.social ul li a {
    /* color: #2d6a4f; */
    font-size: 20px;
    transition: color 0.3s;
}

.footer-section.social ul li a:hover {
    color: #52b788;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #a3b18a;
}



.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #2d6a4f;
}
